/.metadata/
PenAndPaperResults.*
PenAndPaper.*
#Alumni Data.*
majorsList.*
#Student Data.*
#Category Analysis.*
#Final Output.*
Match Scores.*
#Students Lacking Letters.*
*.class
*.lp
*.txt
PenAndPaperResults.txt